* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  color: midnightblue;
  background: #8cd8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  background: #0dcaf0;
  box-shadow: 5px 5px 10px mediumblue, 1px 3px 5px midnightblue inset;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 20px;
}

nav {
  width: 55%;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 20px; 
  cursor: pointer;
}

nav a:hover {
  color: midnightblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 90%;
}

#inputs{
  width: 60%;
  display: flex;
  flex-direction: column;
}

input {
  font-size: 20px;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px mediumblue, 1px 3px 5px midnightblue inset;
}

#submit-button {
  background: #0dcaf0;
  border: none;
  color: aliceblue;
  font-size: 20px;
  border-radius: 10%;
  box-shadow: 5px 5px 10px mediumblue, 1px 3px 5px midnightblue inset;
  margin-top: 30px;
  padding: 10px; 
  width: 30%; 
  cursor: pointer;
}

#submit-button:hover {
  border: 3px solid midnightblue;
  box-shadow: 5px 5px 10px midnightblue, 10px 30px 45px midnightblue inset;
  transition: 0.2s;
  transform: translateY(-1px);
}

#submit-button:active {
  box-shadow: 5px 5px 10px cyan, 10px 30px 45px cyan inset;
  transition: 0.2s;
}